.col
{
    position: relative;
    padding: 10px;
}
.col img
{
    width: 80px;
    height: 80px;
    border-radius: 6px;
}
.col .remove
{
    position: absolute;
    top: 5%;
    right: 8%;
    cursor: pointer;
    padding: 3px;
    border-radius: 1px;
}

.red-utility-icon {
    --sds-c-icon-color-foreground-default: #CB0015;
}

.error_message
{
    color: red;
    font-weight: bolder;
    text-align: center;
}

.createBTN
{
    display: flex;
    justify-content: center;
}